

.my-info-box__info{
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.my-info-box__info__name{
	font-size:18px;
	margin-bottom:10px;
}
.my-info-box__info__id{
	font-size: 14px;
	color:grey;
}

.my-info-box__btns{
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
/*====================================*/
.my-info-box__btns__edit,
.my-info-box__btns__sign-out{
	width:80%;
	height:38px;
	
}
