:root {
	--border-color : #ccc;
	--background-color : #fff;
	--bar-color : #f1f1f1;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}
body{
	margin : 0;
	padding : 0;
}
footer {
    text-align: center;
    background-color : var(--bar-color);
    padding : 24px;
    border-top : 1px solid var(--border-color)
}
footer > p {
    font-size: 70%;
}