:root {
	--border-color : #ccc;
	--background-color : #fff;
	--bar-color : #f1f1f1;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}
body{
	margin : 0;
	padding : 0;
	background-color : var(--background-color);
}
header {
	height: 46px;
	padding : 20px;
	text-align : center;
}
header h1{
	margin : 0px;
}
header a {
	display : block;
	height : 46px;
	margin : 0;
	color : black;
	text-decoration: none;
}