<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css"> <!--JSP 옮길때지우기-->

</head>
<body>
    <div class="temp" style="height: 100vh; color:white;"></div>
    <footer>
            <div class="footer__copyrights">
                ⓒ 2021 BOOKFLEA. All Rights Reserved.
            </div>
    </footer>
</body>
</html>