
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

@import "./component/nav.css";
@import "./component/footer.css";
@import "./component/main.css";

@import "./page/sign.css";
@import "./page/my.css";
@import "./page/all.css";
@import "./page/book-all.css";

body{
    font-family: "Open Sans", sans-serif;
}