main{
	padding:20px;
	min-height: calc(100vh - 165px);
	height:auto;
}

@media (max-width:425px){ 

}

@media (min-width:426px) and (max-width:768px){
	
}
@media (min-width:769px) and (max-width:1023px){
	main{
		min-height: calc(100vh - 217px);
	}
}
@media (min-width:1024px){
	main{
		max-width: 1024px;
		height:auto;
		min-height: calc(100vh - 217px);
		margin: 0px calc( calc(100vw - 1024px) / 2 );
	}
}
