@charset "UTF-8";


/*========================================*/
* {
    font-family: 'Noto Sans KR', sans-serif;
}
/*=========================================*/
body {
	margin : 0;
	height : 100vh;
}
/*=========================================*/

a {
	color : black;
	text-decoration: none;
}

main {
	text-align : center;	
	padding : 0px;
	display : flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 768px){
	
}

#box {
    width : 280px;
    text-align: center;
    padding-left : 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}


#box > *:first-child {
    margin-top : 20px;
}
#box > *{
    margin-bottom: 20px;
}

#box > input[type="text"],
#box > input[type="password"]{
    border : none;
    border-bottom: 1px solid #ccc;
    height: 25px;
}

#box > input[type="text"]:focus,
#box > input[type="password"]:focus{
	border-bottom : 1px solid #808080;
    outline: none;
}

#box > input[type="submit"]{
    height: 35px;
    background : #f1f1f1;
    border : 1px solid #ccc;
    border-radius : 0px;
}

#box > input[type="submit"]:hover{
    background : #e4e4e4;
    cursor : pointer;
    
}
