.page-title{
	width:100%;
	height:30px;
	
	display:flex;
	justify-content:flex-start;
	align-items:center;
	
	color: var(--color1);
	font-size:18px;
	font-weight:500;
	
	border-left: 5px solid rgba(0,0,0,0.1);
	padding-left:10px;
	margin-left:10px;
	
	margin-bottom:20px;
}

.wrap{
	height:100%;
	width:100%;
	
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}

.box{
	padding: 20px 0 20px 0;
	width:100%;
	border: var(--border);
	border-radius:8px;
	box-shadow : 0px 2px 5px rgba(0,0,0,0.05);
	
	display:flex;
	justify-content:space-between;
	align-items : center;
}

.btn-green{
	border-radius:6px;
	font-size:16px;
	font-weight:500;
	cursor:pointer;
	box-shadow : 0px 2px 5px rgba(0,0,0,0.05);
	background-color: rgba(127,194,65,1);
	border:0;
	color:white;
}
.btn-green:hover,
.btn-green:focus{
	background-color: rgba(127,194,65,0.7)
}
.btn-white{
	border-radius:6px;
	font-size:16px;
	font-weight:500;
	cursor:pointer;
	box-shadow : 0px 2px 5px rgba(0,0,0,0.05);
	background-color: white;
	border:var(--border);
}
.btn-white:hover,
.btn-white:focus{
	color:grey;
}


*{
	color: var(--color1);
}



