
.orders-box > ul > li{
	width:100%;
	display:flex;
	justify-content: space-between;
}

.orders-box > ul > li > div:nth-child(1){
	width: 35%;
}
.orders-box > ul > li > div:nth-child(2){
	width: 15%;
}
.orders-box > ul > li > div:nth-child(3){
	width: 15%;
}
.orders-box > ul > li > div:nth-child(4){
	width: 20%;
}


/*==============================*/
.book-box{
	display:flex;
	flex-wrap:nowrap;
	padding: 20px 20px;
	cursor: pointer;
}

.book-box__img{
	width:220px; height:300px; border:var(--border); border-radius:5px;
}
.book-box__img > img{
	cursor:pointer; border-radius:5px; height:100%; width:100%;
}
.book-box__info{
	height:300px;
	width:calc(100% - 220px);
	padding:0 20px;
}

.book-box__info > div{
	min-height:20%;
	display:flex;
	align-items: center;
}

.book-box__info-sell > div{
	min-height:25%;
}

.book-box__info > div:nth-child(1){
	font-size:1.2rem;
	font-weight:550;
}

.book-box__info__btns{
	width:100%;
	display:flex;
	justify-content: space-around;
}
.book-box__info__btns > button{
	width:45%;
	height:38px;
}
@media (max-width:425px){ 
	.book-box{
		flex-direction:column;
	}
	.book-box__img,
	.book-box__img>img{
		width:110px;
		height:150px;
	}
	.book-box__info{
	padding:30px 0 0 0;
	width:100%;
	}
	
}

@media (min-width:426px) and (max-width:768px){

}
@media (min-width:769px){

}

.form-search{
	padding-left:20px;
	padding-right:20px;
	width:100%;
	display:flex;
}
.search-box{
	width:calc(100% - 100px);
	display:flex;
	border: var(--border);
	
	margin-right:10px;
}
.search-box > select:nth-child(1){
	padding-left:10px;
	width:80px;
	border : none;
	cursor:pointer;
}
.search-box > select:nth-child(1):focus{
	outline:none;
}
.search-box > input:nth-child(2){
	margin-left:10px;
	width:calc(100% - 80px);
	border: none;
}