.main-wrap{
	height:100%;
	width:100%;
	
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
}


.main-wrap > .box{
	display:flex;
	justify-content: center;
	align-items: center;	
	margin:20px;
	max-width:500px;
	cursor:pointer;
}	

.main-wrap > h2{
	font-size: 34px;
	margin:10px;
}
/*
<!-- <div class="main-wrap__box__title">도서관리</div> -->
.main-wrap__box__title{
	
	position:absolute;
	bottom:-50px;
	height:100px;
	width:80%;
	background-color: #292A2D;
	border:var(--border);
	border-radius:10px;
	
	display:flex;
	justify-content: center;
	align-items: center;
}
<div class="main-wrap">
			
			<div class="main-wrap__box">
				도서
			</div>
			<div class="main-wrap__box">
				주문
			</div>
			<div class="main-wrap__box">
				유저
			</div>
			
		</div>
*/