.my-main__wrap{
	height:100%;
	width:100%;
	
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	
}

.my-info-box{
	padding: 20px 0 20px 0;
	width:100%;
	border: var(--border);
	border-radius:8px;
	box-shadow : 0px 2px 5px rgba(0,0,0,0.05);
	
	display:flex;
	justify-content:space-between;
	align-items : center;
	background-color:white;
}

.my-info-box__info{
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.my-info-box__info__name{
	font-size:18px;
	margin-bottom:10px;
}
.my-info-box__info__id{
	font-size: 14px;
	color:grey;
}

.my-info-box__btns{
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
/*====================================*/
.my-info-box__btns__edit,
.my-info-box__btns__sign-out{
	width:80%;
	height:38px;
}
.my-info-box__btns__edit{
	margin-bottom:20px;
}
